tool: behinder
version: 2.0
launch:
  cmd: "cd C:\\Users\\admin\\Desktop\\behinder && java -jar Behinder-2.0.7.3.202207.jar"
  pause: 5
  process_check:
    name: "behinder"
    keywords: ["behinder", "java.exe", "2.0"]
model:
  - name: add_webshell
    description: 添加webshell
    # 下拉选项图像映射
    dropdown_options:
      # 请求类型
      request:
        get: "images/behinder_2.0/add_webshell/request_get.png"
        post: "images/behinder_2.0/add_webshell/request_post.png"
      # 类型
      type:
        jsp: "images/behinder_2.0/add_webshell/type_jsp.png"
        php: "images/behinder_2.0/add_webshell/type_php.png"
        aspx: "images/behinder_2.0/add_webshell/type_aspx.png"
        asp: "images/behinder_2.0/add_webshell/type_asp.png"
      # 传输方式
      trans:
        # jsp
        jsp_base64: "images/behinder_2.0/add_webshell/trans_base64.png"
        jsp_json: "images/behinder_2.0/add_webshell/trans_json.png"
        jsp_url: "images/behinder_2.0/add_webshell/trans_url.png"
        # php
        php_base64: "images/behinder_2.0/add_webshell/trans_base64.png"
        # aspx
        aspx_base64: "images/behinder_2.0/add_webshell/trans_base64.png"
      # 第二次传输方式（仅jsp类型使用）
      trans2:
        # jsp
        jsp_base64: "images/behinder_2.0/add_webshell/trans_base64.png"
        jsp_json: "images/behinder_2.0/add_webshell/trans_json.png"
        jsp_url: "images/behinder_2.0/add_webshell/trans_url.png"
      # 第三次传输方式（仅jsp类型使用）
      trans3:
        # jsp
        jsp_base64: "images/behinder_2.0/add_webshell/trans_base64.png"
        jsp_json: "images/behinder_2.0/add_webshell/trans_json.png"
        jsp_url: "images/behinder_2.0/add_webshell/trans_url.png"

    # 通用下拉选项依赖映射，当source_key选择某个值时，target_key的可选值会限制为对应的列表
    dropdown_dependencies:
      - source_key: "type"
        target_key: "trans"
        mapping:
          jsp:
            - "jsp_base64"
            - "jsp_json"
            - "jsp_url"
          php:
            - "php_base64"
          aspx:
            - "aspx_base64"
          asp:
            []
      - source_key: "type"
        target_key: "trans2"
        mapping:
          jsp:
            - "jsp_base64"
            - "jsp_json"
            - "jsp_url"
          php:
            []
          aspx:
            []
          asp:
            []
      - source_key: "type"
        target_key: "trans3"
        mapping:
          jsp:
            - "jsp_base64"
            - "jsp_json"
            - "jsp_url"
          php:
            []
          aspx:
            []
          asp:
            []

    # 默认参数配置
    default_params:
      request_option: "get"
      type_option: "jsp"
      trans_option: "jsp_base64"
      trans2_option: "jsp_json"
      trans3_option: "jsp_url"

    process:
      - position: ""
        description: 点击win + D显示桌面
        action: keyboard
        keys: "win,d"
        action_type: "hotkey"

      - position: ""
        description: 进入控制界面
        action: open
  
      - position: "images/behinder_2.0/add_webshell/set_proxy.png"
        description: 点击【设置代理】按钮
        action: click
        click_button: left
        click_offset: [0, 0]
  
      - position: "images/behinder_2.0/add_webshell/no_btn.png"
        description: 点击【禁用】按钮
        action: click
        click_button: left
        click_offset: [0, 0]
  
      - position: "images/behinder_2.0/add_webshell/save_btn1.png"
        description: 点击【保存按钮
        action: click
        click_button: left
        click_offset: [0, 0]
  
      - position: "images/behinder_2.0/add_webshell/url_label.png"
        description: 根据url标签右击新增URL
        action: click
        click_button: right
        click_offset: [0, 30]

      - position: ""
        action: window
        type: "maximize"
  
      - position: "images/behinder_2.0/add_webshell/add_btn.png"
        description: 点击【新增】按钮
        action: click
        click_button: left
        click_offset: [0, 0]
  
      - position: "images/behinder_2.0/add_webshell/url_label1.png"
        description: 通过url标签点击URL输入位置
        action: click
        click_button: left
        click_offset: [100, 0]
  
      - position: ""
        description: 输入连接webshell的url
        action: input
        clear: true
        enter: false
        param:
          url: "http://10.67.192.7:8080"
  
      - position: "images/behinder_2.0/add_webshell/pass_label.png"
        description: 通过密码标签点击密码输入位置
        action: click
        click_button: left
        click_offset: [100, 0]
  
      - position: ""
        description: 长按【右键】移动到输入框最后
        action: keyboard
        keys: "right"
        duration: 3
        action_type: "press"
        
      - position: ""
        description: 长按【backspace键】删除
        action: keyboard
        keys: "backspace"
        duration: 3
        action_type: "press"
  
      - position: ""
        description: 输入密码
        action: input
        enter: false
        param:
          password: "7b35dabef09e402b"
  
      - position: "images/behinder_2.0/add_webshell/request_label.png"
        description: 点击【请求类型】下拉框
        action: click
        click_button: left
        click_offset: [100, 0]
  
      - position: "{request_option_image}"
        description: 选择请求类型选项
        action: click
        click_button: left
        click_offset: [0, 0]
        error_res: ""
        success_res: "" 

      - position: "images/behinder_2.0/add_webshell/type_label.png"
        description: 点击【类型】下拉框
        action: click
        click_button: left
        click_offset: [50, 0]
  
      - position: "{type_option_image}"
        description: 选择类型选项
        action: click
        click_button: left
        click_offset: [0, 0]
        error_res: ""
        success_res: "" 

      - position: "{trans_option_image}"
        description: 第一次选择传输选项
        action: click
        click_button: double
        click_offset: [0, 0]
  
      - position: "{trans2_option_image}"
        description: 第二次选择传输选项
        action: click
        click_button: double
        click_offset: [0, 0]
  
      - position: "{trans3_option_image}"
        description: 第三次选择传输选项
        action: click
        click_button: left
        click_offset: [0, 0]
  
      - position: "images/behinder_2.0/add_webshell/requestHead_label.png"
        description: 通过请求头标签点击请求头输入位置
        action: click
        click_button: left
        click_offset: [500, 0]
  
      - position: ""
        description: 长按【右键】移动到输入框最后
        action: keyboard
        keys: "right"
        duration: 10
        action_type: "press"
        
      - position: ""
        description: 长按【backspace键】删除
        action: keyboard
        keys: "backspace"
        duration: 20

        
        action_type: "press"
  
      - position: ""
        description: 输入请求头
        action: input
        enter: false
        param:
          requestHead: "User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/531.26 (KHTML, like Gecko) Chrome/86.0.4240.138 Safari/531.26"

      - position: "images/behinder_2.0/add_webshell/save_btn.png"
        description: 点击【保存】按钮
        action: click
        click_button: left
        click_offset: [0, 0]
  
    res_process:
      - position: ""
        action: window
        type: "exit"


  - name: scan_port
    description: 端口扫描
    process:
      - position: ""
        description: 点击win + D显示桌面
        action: keyboard
        keys: "win,d"
        action_type: "hotkey"

      - position: ""
        description: 进入控制界面
        action: open
  
      - position: "images/behinder_2.0/scan_port/url_label.png"
        description: 进入控制界面
        action: click
        click_button: double
        click_offset: [0, 20]

      - position: ""
        action: window
        type: "maximize"
  
      - position: "images/behinder_2.0/scan_port/failed_label.png"
        description: 判断连接webshell是否成功
        action: recognize
  
      - position: "images/behinder_2.0/scan_port/scanport_btn.png"
        description: 点击【端口扫描】按钮
        action: click
        click_button: left
        click_offset: [0, 0]
  
      - position: "images/behinder_2.0/scan_port/ip_label.png"
        description: 点击【ip】标签
        action: click
        click_button: left
        click_offset: [50, 0]
  
      - position: ""
        description: 输入host地址
        action: input
        clear: true
        param:
          host: "127.0.0.1"
  
      - position: "images/behinder_2.0/scan_port/ip_label.png"
        description: 点击【ports】标签
        action: click
        click_button: left
        click_offset: [300, 0]
  
      - position: ""
        description: 输入端口号
        action: input
        clear: true
        param:
          ports: "22,80,7001,6379,8080-8083"
  
      - position: "images/behinder_2.0/scan_port/start_btn.png"
        description: 点击扫描按钮
        action: click
        click_button: left
        click_offset: [0, 0]
  
    res_process:
      - position: ""
        action: res
        type: "image"
      - position: ""
        action: window
        type: "exit"
  

  - name: execute_commands
    description: 命令执行
    process:
      - position: ""
        description: 点击win + D显示桌面
        action: keyboard
        keys: "win,d"
        action_type: "hotkey"

      - position: ""
        description: 进入控制界面
        action: open
  
      - position: "images/behinder_2.0/execute_commands/url_label.png"
        description: 进入控制界面
        action: click
        click_button: double
        click_offset: [0, 20]

      - position: ""
        action: window
        type: "maximize"
  
      - position: "images/behinder_2.0/execute_commands/failed_label.png"
        description: 判断连接webshell是否成功
        action: recognize
  
      - position: "images/behinder_2.0/execute_commands/execute_btn.png"
        description: 点击【命令执行】按钮
        action: click
        click_button: left
        click_offset: [0, 0]
  
      - position: "images/behinder_2.0/execute_commands/flag_label.png"
        description: 点击输入命令行位置
        action: click
        click_button: left
        click_offset: [50, 0]
  
      - position: ""
        description: 输入命令1
        action: input
        clear: false
        param:
          command1: " "
  
      - position: ""
        description: 输入命令2
        action: input
        clear: false
        param:
          command2: " "
  
      - position: ""
        description: 输入命令3
        action: input
        clear: false
        param:
          command3: " "
  
      - position: ""
        description: 输入命令4
        action: input
        clear: false
        param:
          command4: " "
  
      - position: ""
        description: 输入命令5
        action: input
        clear: false
        param:
          command5: " "
  
    res_process:
      - position: ""
        description: 命令执行后输出结果截图
        action: res
        type: "image"
      - position: ""
        action: window
        type: "exit"


  - name: socks_proxy
    description: socks代理
    process:
      - position: ""
        description: 点击win + D显示桌面
        action: keyboard
        keys: "win,d"
        action_type: "hotkey"
        
      - position: ""
        description: 进入控制界面
        action: open
  
      - position: "images/behinder_2.0/socks_proxy/url_label.png"
        description: 进入控制界面
        action: click
        click_button: double
        click_offset: [0, 20]

      - position: ""
        action: window
        type: "maximize"
  
      - position: "images/behinder_2.0/socks_proxy/failed_label.png"
        description: 判断连接webshell是否成功
        action: recognize
  
      - position: "images/behinder_2.0/socks_proxy/socks_btn.png"
        description: 点击【socks代理】按钮
        action: click
        click_button: left
        click_offset: [0, 0]
  
      - position: "images/behinder_2.0/socks_proxy/host_label.png"
        description: 点击监听地址输入框
        action: click
        click_button: left
        click_offset: [100, 0]
  
      - position: ""
        description: 输入host地址
        action: input
        clear: true
        param:
          host: "0.0.0.0"
  
      - position: "images/behinder_2.0/socks_proxy/port_label.png"
        description: 点击【ports】标签
        action: click
        click_button: left
        click_offset: [100, 0]
  
      - position: ""
        description: 输入端口号
        action: input
        clear: true
        param:
          ports: "10086"
  
      - position: "images/behinder_2.0/socks_proxy/time_label.png"
        description: 点击超时时间输入框
        action: click
        click_button: left
        click_offset: [100, 0]
  
      - position: ""
        description: 输入超时时间
        action: input
        clear: true
        param:
          time: "0"
  
      - position: "images/behinder_2.0/socks_proxy/open_btn.png"
        description: 点击【开启代理】按钮
        action: click
        click_button: left
        click_offset: [0, 0]
  
    res_process:
      - position: ""
        action: window
        type: "minimize"